<div class="container__big-card">
  <a href="">
    <div class="big-card__image">
      <img
        height="264px"
        src="../../../assets/image-placeholder.png"
        alt="image image-placeholder"
      />
    </div>
    <div class="big-card__title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
      <p>
        perspiciatis aliquid ad at maxime, consequatur eveniet enim suscipit
        cupiditate nam sint eaque numquam perferendis ipsa ipsum! Id, atque.
      </p>
    </div>
  </a>
</div>
