<div class="container__big-card">
  <a href="">
    <div class="big-card__image">
      <img
        height="264px"
        src="https://images2.alphacoders.com/130/1309788.jpeg"
        alt="image image-placeholder"
      />
    </div>
    <div class="big-card__title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, libero eveniet. Iste
        tempore tenetur. Expedita, aspernatur sint inventore ea a, voluptatibus,
        deserunt saepe
      </p>
    </div>
  </a>
</div>
